.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.downloadBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 20;
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}
